html
	head
		title Krokodili
		link(rel="stylesheet" href="style.scss")
	body
		header
			.left
				h1 Welcome to Krokodili
				p Learn languages by reading the news you love.
				a(href="/app/")
					button Start Learning
			.right
				img(src="assets/images/graphics.png" alt="Krokodili landing page graphic")
