<ion-header>
	<ion-toolbar>
		<ion-title>Krokodili</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-grid [fixed]="true">
		<div
			class="hero"
			[style.background-image]="
				digest()?.imageUrl ? 'url(' + digest()?.imageUrl + ')' : ''
			"
		></div>
		<markdown
			[data]="content()"
			(ready)="onReady()"
			(click)="onMDClick($event)"
		>
		</markdown>
	</ion-grid>
	<action-sheet
		[activeTimestamp]="focusedWordTimestamp()"
		[loading]="translationLoading()"
	>
		<div class="translation-panel">
			{{ focusedWord() }}: {{ translations[focusedWord()]?.join(", ") }}
		</div>
	</action-sheet>
</ion-content>
