:host {
	font-size: 20px;
	line-height: 34px;
}

.hero {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 300px;
	margin-top: -16px;
	margin-bottom: 16px;
	margin-left: -16px;
	margin-right: -16px;
}
